@import url("https://fonts.googleapis.com/css?family=Didact Gothic");

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  /* CSS */
  .button-1 {
    align-items: center;
    border: 0 solid #E2E8F0;
    margin: 5px 0 5px;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1), 1px 2px 4px 1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-size: min(20px,4vw);
    height: 56px;
    justify-content: center;
    padding: 24px;
    border-radius: 8px;
    touch-action: manipulation;
  }

.center-element{
    grid-column: 4 / 10;
    justify-content: center;
    align-items: center;
}


.datePicker{
    grid-column: 4 / 10;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
}

.general-container {
    width: 50vw;
    display:grid;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.full-container {
    width: 100vw;
    display:grid;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
}

.grid-full-width{
    grid-column: 1/13;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 { color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 3em; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; }


h2 { color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; font-weight: 300; 
    line-height: 32px; 
    margin: 20px 0 0px; 
    text-align: center; }


p { color: #685206; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 14px; 
    line-height: 24px; 
    margin: 0 0 0px; 
    text-align: justify; 
    text-justify: inter-word; }

.half-parent-width {
    width: 50%;
    top: 50%;
    left: 50%;
}

input {
    align-items: center;
    text-align: center;
}

.input-1 {
    border-radius: 8px;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1), 1px 2px 4px 1px rgba(0, 0, 0, 0.06);
    column-gap: 20px;
    height: 70%;
    left: 50%;
    font-size: min(20px,4vw);
    
    top: 50%;
    width: 95%;
}
  .input-100 {
    border: 0 solid #E2E8F0;
    column-gap: 20px;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1), 1px 2px 4px 1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    font-size: 1.5em;
    justify-content: center;
    border-radius: 8px;
    padding: 0.5em;
    touch-action: manipulation;
    width: 100%;
    height: 80%;
    left: 50%;
    top: 50%;
  }

  .button-1:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
  }
  
  .button-1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button-1:focus { outline:0; }

  li {
    display: block;
    text-align: center;
    float: left;
  }
  
  li a:hover {
    background-color: aqua;
    color: blue;
  }

  .react-datepicker__input-container {
    width: inherit;
  }
  
  .react-datepicker-wrapper {
    width: 100%;
  }

.integerIncremenetBox{
    height:50px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 12px;
}

.integerIncremenetBox button{
    height: 80%;
    width: 80%;
    text-align: center;
    display: grid;
    grid-column: auto;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.leftArrowGrid {
    grid-column: 3;
}
    
.main-container{
    align-items: center;
    width: 100%;
    text-align: center;
    display: grid;
}

.main-grid-container{
    display: grid;
    height: 100vh;
    width: 100vw;
}

.number-input {
    column-gap: 20px;
    grid-column: 4/10;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.quarter-parent-width {
    width: 25%;
    top: 50%;
    left: 50%;
}

.progressBar {
    width: 200px;
    height: 200px;
    align-items:center;
    text-align:center;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.rightArrowGrid {
    grid-column: 10;
    align-items: left;
    justify-content: left;
}

.text {
    display: inline-block;
    color: black;
    font-family: Didact Gothic;
    padding-left: 7px;
    text-shadow: 7px 7px 0px #d2d2d22e;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    font-size: min(20px,4vw);
    width: 100%;
    height: 100%;
}