@import url("https://fonts.googleapis.com/css?family=Didact Gothic");

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  /* CSS */
  .button-1 {
    align-items: center;
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    margin: 5px 0 5px;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1), 1px 2px 4px 1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 56px;
    justify-content: center;
    line-height: 24px;
    overflow-wrap: break-word;
    padding: 24px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .card {
    margin: 30px auto;
    width: fit-content;
    height: fit-content;
    border-radius: 40px;
  box-shadow: 1px 1px 5px 5px rgba(0,0,0,0.25), -1px -1px 5px 5px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }

.center-element{
    grid-column: 5/9;
    justify-content: center;
    align-items: center;
}


.datePicker{
    grid-column: 5 / 9;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
}

.general-container {
    width: 50vw;
    display:grid;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.full-container {
    width: 100vw;
    display:grid;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
}

.grid-full-width{
    grid-column: 1/13;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 { color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 3em; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; }


h2 { color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 30px; font-weight: 300; 
    line-height: 32px; 
    margin: 20px 0 0px; 
    text-align: center; }


p { color: #685206; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 14px; 
    line-height: 24px; 
    margin: 0 0 0px; 
    text-align: justify; 
    text-justify: inter-word; }

.half-parent-width {
    width: 50%;
    top: 50%;
    left: 50%;
}

input {
    align-items: center;
    text-align: center;
}

.input-1 {
    background: #FFFFFF;
    border: 0 solid #E2E8F0;
    column-gap: 20px;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1), 1px 2px 4px 1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    font-family: Inter, sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    justify-content: center;
    overflow-wrap: break-word;
    text-decoration: none;
    border-radius: 8px;
    padding: 0.5em;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    height: 80%;
    left: 50%;
    top: 50%;
  }

  .react-datepicker__input-container {
    width: inherit;
  }
  
  .react-datepicker-wrapper {
    width: 100%;
  }

.integerIncremenetBox{
    height:50px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 12px;
}

.integerIncremenetBox button{
    height: 80%;
    width: 80%;
    text-align: center;
    display: grid;
    grid-column: auto;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.leftArrowGrid {
    grid-column: 4;
}
    
.main-container{
    align-items: center;
    width: 100%;
    text-align: center;
    display: grid;
}

.main-grid-container{
    display: grid;
    height: 100vh;
    width: 100vw;
}

.number-input {
    column-gap: 20px;
    grid-column: 5/9;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.quarter-parent-width {
    width: 25%;
    top: 50%;
    left: 50%;
}

.progressBar {
    width: 200px;
    height: 200px;
    align-items:center;
    text-align:center;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.rightArrowGrid {
    grid-column: 9;
    align-items: left;
    justify-content: left;
}

.text {
    display: inline-block;
    color: black;
    font-family: Didact Gothic;
    padding-left: 7px;
    text-shadow: 7px 7px 0px #d2d2d22e;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    font-size: 4vw;
    width: 100%;
    height: 100%;
}