@import url("https://fonts.googleapis.com/css?family=Didact Gothic");

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  /* CSS */
  .button-1 {
    align-items: center;
    border: 0 solid #E2E8F0;
    margin: 5px 0 5px;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1), 1px 2px 4px 1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    color: #1A202C;
    display: inline-flex;
    font-size: min(15px,3vw);
    height: 5vh;
    justify-content: center;
    padding: 4vw;
    border-radius: 8px;
    touch-action: manipulation;
  }

.center-element{
    grid-column: 1 / 13;
    justify-content: center;
    align-items: center;
}


.datePicker{
    grid-column: 4 / 10;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
}

.datePickerInput{
    grid-column: auto;
    justify-content: center;
    align-items: center;
}

.full-container {
    width: 100vw;
    display:grid;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.general-container {
    width: 100vw;
    display:grid;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
  
}

.grid-container1 {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(20,1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
    grid-column: center;
    background-color: yellow;
}

.bar-graph{
    left: 50%;
    top: 50%;
    grid-column: 2 / 12;
    align-items: center;
    display: grid;
    height: 50vh;
    width: 50vw;
    padding: 24px;
    margin: 24px;
}

.graph{
    left: 50%;
    top: 50%;
    grid-column: 2 / 12;
    align-items: center;
    display: grid;
    height: 50vh;
    width: 50vw;
}

.grid-full-width{
    grid-column: 1 / 13;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 { color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 2em; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center; 
    grid-column: 1/13;}


h2 { color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 1em; 
    font-weight: 300; 
    line-height: 32px; 
    margin: 20px 0 0px; 
    text-align: center; }


p { color: #685206; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 14px; 
    line-height: 24px; 
    margin: 0 0 0px; 
    text-align: justify; 
    text-justify: inter-word; }

.half-parent-width {
    width: 50%;
    top: 50%;
    left: 50%;
}

input {
    align-items: center;
    text-align: center;
}

.input-1 {
    border-radius: 8px;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1), 1px 2px 4px 1px rgba(0, 0, 0, 0.06);
    font-size: min(20px,4vw);
}
  .input-100 {
    border: 0 solid #E2E8F0;
    column-gap: 20px;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1), 1px 2px 4px 1px rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    font-size: 1.5em;
    justify-content: center;
    border-radius: 8px;
    padding: 0.5em;
    touch-action: manipulation;
    width: 100%;
    height: 80%;
    left: 50%;
    top: 50%;
  }

  .button-1:hover {
    background: #fff;
    box-shadow: 0px 2px 10px 5px #1abc9c;
    color: #000;
  }
  
  .button-1:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  
  .button-1:focus { 
    outline:0;
    box-shadow: none;
  }
  li {
    display: block;
    text-align: center;
    float: left;
  }
  
  li a:hover {
    background-color: aqua;
    color: blue;
  }

  .react-datepicker__input-container {
    width: inherit;
  }
  
  .react-datepicker-wrapper {
    width: 100%;
  }

.integerIncremenetBox{
    height:50px;
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    background: #FFF;
    border-radius: 12px;
}

.integerIncremenetBox button{
    height: 80%;
    width: 80%;
    text-align: center;
    display: grid;
    grid-column: auto;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.leftArrowGrid {
    grid-column: 4;
}
    
.main-container{
    align-items: center;
    width: 100%;
    text-align: center;
    display: grid;
}

.main-grid-container{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-column: 1;
    
}

.number-input {
    column-gap: 20px;
    grid-column: 4/10;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.quarter-parent-width {
    width: 25%;
    top: 50%;
    left: 50%;
}

.progressBar {
    width: 200px;
    height: 200px;
    align-items:center;
    text-align:center;
}

.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.rightArrowGrid {
    grid-column: 10;
}

.text {
    display: inline-block;
    color: black;
    font-family: Didact Gothic;
    padding-left: 7px;
    text-shadow: 7px 7px 0px #d2d2d22e;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    font-size: min(20px,4vw);
    width: 100%;
    height: 100%;
}

.grid-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    row-gap: 0.5vh;
    column-gap:3vw;
    justify-items: stretch;
    align-items: center;
    grid-template-areas: 
    "day day day day day day day"
    "navToday navToday navToday navToday navToday navToday navToday"
    ". . lArrow date rArrow . . "
    "progression progression progression progression progression progression progression"
    ". take5 take5 counter add5 add5 ." 
    ". take10 take10 counter add10 add10 ."
    ". . submit submit submit . ."
    ". . finished finished finished . ."
    ". barChart barChart barChart barChart barChart ."
    ". lineChart lineChart lineChart lineChart lineChart ."
    ". . . . . . ."
    ". . pushupCount pushupCount pushupCount . .";
}

.item-a{
    grid-area: day;
}

.item-b{
    grid-area: navToday;
    justify-self: center;
}

.item-c{
    grid-area: lArrow;
    justify-self: right;
}

.item-d{
    grid-area: date;
}

.item-e{
    grid-area: rArrow;
}

.item-f{
    grid-area: progression;
}

.item-g{
    grid-area: take5;
    justify-self: right;
}

.item-h{
    grid-area: take10;
    justify-self: right;
}
.item-i{
    grid-area: counter;
    justify-self: center;
}

.item-j{
    grid-area: add5;
}

.item-k{
    grid-area: add10;
}

.item-l{
    grid-area: submit;
    justify-self: center;
}

.item-m{
    grid-area: finished;
    justify-self: center;
}
.item-n{
    grid-area: barChart;
    justify-self: center;
    width: 80vw;
    height:40vh;
}
.item-o{
    grid-area: lineChart;
    justify-self: center;
    width: 80vw;
    height:40vh;
}
.item-p{
    grid-area: pushupCount;
    justify-self: center;
    padding: 3vh;
}

